.mainContainer {
  width: 100%;
  padding: 20px;
  background-color: #f4f5fa;
  border-left:1px solid #ddd ;
  }

  .dashboardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  .dashboardHeader h1 {
    font-size: 28px;
    font-weight: bold;
    color: #2c2c2c;
    margin-left: 20px;
  }
  .manageButton {
    background-color:#f4f5fa ;
    color: #1E5EFF;
    border: 1px solid rgb(203, 198, 198);
    padding: 12px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
   
  }
  .facog{
    margin-right: 10px;
    font-size: 24px;

  }
  
  .statsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    margin-left: 20px;
    margin-right: 20px;
   
  }
  
  .statCard {
    background-color: white;
    padding: 40px;
    border-radius:5px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .statContent h2 {
    font-size: 24px;
    margin: 0;
    color: #2c2c2c;
  }
  
  .statContent p {
    margin: 10px 0 0;
    color: #6c757d;
  }
  
  .positiveChange {
    color: #28a745;
    font-weight: bold;
  }
  
  .negativeChange {
    color: #dc3545;
    font-weight: bold;
  }
  
  .statIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .iconCircle {
    background-color: #e7f1ff;
    border-radius: 80px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (max-width: 576px) {
    .statsGrid {
      display: flex;
      flex-direction: column; 
      gap: 5px; 
  }

  }
  

